<!-- Cours Angular

<button class="btn btn-primary">Add Me</button>
-->
<!-- <app-first></app-first>
<app-child (eventToParent)="traitementApp($event)"></app-child> -->

<!-- <app-card></app-card> -->
<div class="container">
    <!-- <app-cv></app-cv>
    <app-recruter></app-recruter> -->
    <!-- <app-home-accounts></app-home-accounts> -->
    <!-- <app-direct></app-direct> -->
    <!-- <app-ms-word></app-ms-word> -->
    <!-- <app-manage-servers></app-manage-servers> -->
    <router-outlet></router-outlet>

</div>